spring.application.name=
server.port=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=
spring.jpa.properties.hibernate.dialect=
spring.jpa.show-sql=
spring.thymeleaf.cache=
